  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js' %>
  
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chartkick' %>


  
<div class="container-fluid">
  <div class="row">
    <!-- Graphique pour la quantité gaspillée -->
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header bg-success text-white">
          Graphique - Quantité Gaspillée (kg)
        </div>
        <div class="card-body">
          <%= column_chart @waste_data, 
                xtitle: "Processus", 
                ytitle: "Quantité Gaspillée (kg)",
                colors: ["#007bff"] %>
        </div>
      </div>
    </div>

    <!-- Graphique pour les émissions CO2 -->
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header bg-success text-white">
          Graphique - Émissions CO₂ (kg)
        </div>
        <div class="card-body">
          <%= column_chart @co2_data, 
                xtitle: "Processus", 
                ytitle: "Émissions CO₂ (kg)",
                colors: ["#28a745"] %>
        </div>
      </div>
    </div>
  </div>
</div>

