<div class="container-fluid mt-5">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h1>Dashboard</h1>
    <div>
      <%= link_to image_tag("detective.png", alt: "Accéder au profil utilisateur", class: "icon"), edit_user_registration_path, title: "Accéder au profil utilisateur" %>
    </div>
  </div>

  <%= render 'dashboard/summary' %>
</div>