<h1 class="custom-title">Contactez-nous !</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4 mt-5">
      <!-- Ajout d'une marge supérieure -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Votre adresse email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre email">
      </div>

      <div class="mb-3">
        <label for="exampleTextarea" class="form-label">Racontez-nous</label>
        <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= image_tag("contact.png", alt: "Background image", class: "img-fluid mb-4") %>
    </div>
  </div>
</div>