<div class="mb-3 custom-margin">
  <div class="container">
    <div class="row">
      <h1 style="padding-top: 50px">Contactez-nous !</h1>
      <div class="col-md-6 mb-4 mt-5">
        <form action="https://app.mailjet.com/widget/iframe/YOUR_FORM_ID" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Votre adresse email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Votre email" required>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Racontez-nous</label>
            <textarea class="form-control" id="message" name="message" rows="5"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
      </div>

      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <%= image_tag("contact.png", alt: "Background image", class: "img-fluid mb-4") %>
      </div>
    </div>
  </div>
</div>