
<div class="container mt-5">
     
        <div class="text-center mb-5">
            <h1 class="mb-3">Notre Équipe</h1>
            <p class="lead">Découvrez les membres talentueux qui font le succès de notre entreprise.</p>
        </div>

      
        <div class="row">
            <!-- Carte 1 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <%= image_tag "1689169425140.jpg", class: "card-img-top", alt: "Stéphane" %>
                    <div class="card-body">
                        <h5 class="card-title">Stéphane</h5>
                        <p class="card-text">Description courte du rôle ou de la spécialité du membre.</p>
                    </div>
                </div>
            </div>

            <!-- Carte 2 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <%= image_tag "83050.jpg", class: "card-img-top", alt: "Zaïneb" %>
                    <div class="card-body">
                        <h5 class="card-title">Zaïneb</h5>
                        <p class="card-text">Description courte du rôle ou de la spécialité du membre.</p>
                    </div>
                </div>
            </div>

            <!-- Carte 3 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <%= image_tag "", class: "card-img-top", alt: "Nora" %>
                    <div class="card-body">
                        <h5 class="card-title">Nom Membre 3</h5>
                        <p class="card-text">Description courte du rôle ou de la spécialité du membre.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>