/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min-2
 *= require team
 */


 .bg-gradient-custom {
    background: linear-gradient(90deg, #1E90FF, #00BFFF); /* Remplacez par vos couleurs bleu */
    color: white; /* Optionnel pour s'assurer que le texte reste lisible */
  }

 html, body {
    height: 100%;

  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  


 html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
  }

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page prend toute la hauteur */
}
.container{
    flex: 1;
}
.footer {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: rgb(2, 34, 33);
  color: #f9f9f9;
  width: 100%;
  margin-top: auto;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-column h3{
    font-size: 16px;
    color: #ebf1f3;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 32px;
}
.footer-logo{
    width: 90px;
    padding-top: 6px;
    padding-left: 3px;
}
.footer-column ul{
    list-style: none;
    margin-bottom: 5px;
}

.footer-column li:hover::before{
    list-style-type: none;
    width: 100%;
}
.footer-copyright{
    background-color: #053643;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}
.footer-column a{
    color: #167573;
    text-decoration: none;
    font-size: 12px;
}
.footer a:hover{
    color: #c3911e;
}
.footer-column{
    padding: 3px;
    margin-top: 5px;
}
.footer-copyright p{
    padding-top: 2px;
    font-size: 14px;
}
.navbar-logo{
    width: 35px; 
}


.space_around {
    margin-top: 30px;
}

.custom-margin {
    margin-left: 100px;
  }

  .icon {
    width: 25px; 
    height: auto; 
     
    justify-content: space-between;
    
  }

  .margin-top {
    margin-top: -15px;
  }

 
  
  
