<div class="footer">
  <div class="footer-container">
    <!-- Colonnes de contenu -->
    <div class="footer-column">
      <h3>About us</h3>
      <ul>
        <li><a href="#">@zaineb</a></li>
        <li><a href="#">@stephane</a></li>
        <li><a href="#">@nora</a></li>
      </ul>
    </div>

    <div class="footer-column">
        <h3>Contact us</h3>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Support</h3>
        <ul>
          <li><%= link_to 'TheHackingProject', 'https://www.thehackingproject.org/' %></li>
        </ul>
    </div> <!-- Fermeture correcte de footer-container -->

  </div>

  <!-- Sous-bloc Copyright -->
  <div class="footer-copyright">
    <p>© 2024 ZeroWaste. Tous droits réservés.</p>
    <p>Designed by Zaineb, Steph et Nora</p>
  </div>
</div>
